<div>
  <form
    class="flex flex-col gap-5"
    [formGroup]="editCategoryForm"
    (ngSubmit)="onEditCategory()"
  >
    <div class="flex flex-col gap-5">
      <h1 class="text-2xl text-dark-purple font-bold lg:text-3xl">
        Edit Category
      </h1>
      <label
        class="font-medium text-dark-purple text-lg lg:text-xl"
        for="categoryName"
        >Edit selected category</label
      >
      <div class="flex gap-3">
        <input
          (change)="onChangeCategoryName($event)"
          id="categoryName"
          formControlName="categoryName"
          [ngClass]="{
            borderBlink:
              editCategoryForm.controls['categoryName'].invalid &&
              editCategoryForm.controls['categoryName'].touched
          }"
          placeholder="Category name"
          class="text-light-purple text-sm px-2 py-1 rounded w-44 font-medium border-2 border-gray-300 lg:w-56 lg:text-base"
        />
        <select
          (change)="onChangeParent($event)"
          formControlName="parent"
          class="text-sm text-light-purple w-max h-9 px-2 py-1 rounded font-medium border-2 border-gray-300 lg:text-base"
        >
          <option
            class="text-dark-purple font-bold text-sm lg:text-base"
            value="null"
          >
            No parent category
          </option>
          @for(category of categories; track category.id; let i = $index) {
          <option
            class="text-dark-purple font-bold text-sm lg:text-base"
            [value]="category.id"
          >
            {{ category.categoryName }}
          </option>
          }
        </select>
      </div>
    </div>

    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-1">
        <label class="text-light-purple text-sm font-medium lg:text-base"
          >Properties</label
        >
        <button
          (click)="onAddProperty()"
          type="button"
          class="text-white text-sm font-medium rounded-md px-2 py-1 border-gray-300 w-fit bg-light-purple hover:bg-dark-purple lg:text-base lg:px-3 lg:py-2"
        >
          Add new property
        </button>
      </div>

      <div formArrayName="properties">
        @for(propertyControl of propertyControls.controls; track
        propertyControls; let i = $index) {
        <div [formGroupName]="i">
          <div class="flex gap-2 my-2">
            <input
              class="mb-4"
              formControlName="property"
              class="font-medium px-1 py-1 rounded border-2 border-gray-300 lg:px-2 lg:py-1"
              type="text"
            />
            <input
              formControlName="values"
              class="font-medium px-1 py-1 rounded border-2 border-gray-300 lg:px-2 lg:py-1"
              type="text"
            />
            <div class="flex items-center">
              <mat-icon
                (click)="onDeletePropertyControl(i)"
                class="cursor-pointer text-red-500"
                aria-hidden="false"
                aria-label="Example delete icon"
                fontIcon="delete"
              ></mat-icon>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="flex gap-3 mb-4">
      <button
        (click)="onCancelEdit()"
        type="button"
        class="text-white text-sm font-medium px-2 py-1 rounded-md w-fit bg-red-500 bg-gradient-to-r hover:from-red-500 hover:to-red-900 lg:text-base lg:px-3 lg:py-2"
      >
        cancel
      </button>
      <button
        [disabled]="editCategoryForm.invalid"
        type="submit"
        class="text-white text-sm font-medium w-fit px-2 py-1 rounded-md bg-green-500 bg-gradient-to-r hover:from-green-500 hover:to-green-900 lg:text-base lg:px-2 lg:py-1"
      >
        Save
      </button>
    </div>
  </form>
</div>
