<div
  class="flex flex-col bg-light px-5 py-7 h-full w-full rounded-md overflow-scroll overflow-x-hidden overflow-y-auto"
>
  <h1 class="text-3xl mb-5 font-bold text-dark-purple">Admins</h1>

  <form
    (ngSubmit)="onCreateAdmin(adminForm)"
    #adminForm="ngForm"
    class="flex flex-col gap-3 mb-10"
  >
    <p class="font-medium text-dark-purple text-xl">Add new admin</p>
    <div class="flex gap-4">
      <div class="flex flex-col">
        <label class="font-medium text-light-purple text-base" for="userName"
          >Username</label
        >
        <input
          id="userName"
          ngModel
          name="userName"
          #userNameInput="ngModel"
          [ngClass]="{
            borderBlink: userNameInput.invalid && userNameInput.touched
          }"
          required
          placeholder="Username"
          class="px-3 py-1 rounded font-medium border-2 border-gray-300"
          type="text"
        />
      </div>
      <div class="flex flex-col">
        <label class="font-medium text-light-purple text-base" for="password"
          >Password</label
        >
        <input
          id="password"
          ngModel
          name="password"
          #passwordInput="ngModel"
          [ngClass]="{
            borderBlink: passwordInput.invalid && passwordInput.touched
          }"
          required
          placeholder="Password"
          class="px-3 py-1 rounded font-medium border-2 border-gray-300"
          type="password"
        />
      </div>

      <div class="flex items-end">
        <button
          (click)="onCreateAdmin(adminForm)"
          [disabled]="adminForm.invalid"
          type="submit"
          class="text-white text-base px-3 py-2 font-medium rounded-md bg-gradient-to-r bg-green-500 hover:from-green-500 hover:to-green-900 transition-all duration-500"
        >
          Add admin
        </button>
      </div>
    </div>
    @if(errorMessage) {
    <p class="text-red-600 italic font-bold">{{ errorMessage }}</p>
    }
  </form>

  <div class="flex flex-col gap-3">
    <p class="font-medium text-dark-purple text-xl">Existing admins</p>
    <div class="w-4/5 shadow-xl bg-white">
      <h1
        class="font-bold bg-blue-300 text-base text-dark-purple px-3 py-2 border-gray-600"
      >
        ADMIN USERNAMES
      </h1>
      <table class="w-full">
        @for(admin of admins; track admin.id; let i = $index) {
        <tr class="w-1/3 bg-gray-100">
          <td class="pl-2 py-2">
            <p class="text-light-purple text-base font-medium">
              {{ admin.userName }}
            </p>
          </td>
          <td class="py-2">
            <p class="text-light-purple text-base font-medium">
              {{ admin.dateAndTime }}
            </p>
          </td>
          <td class="flex gap-5 justify-end py-2 pr-2">
            <mat-icon
              (click)="onEditAdmin(admin.id)"
              class="cursor-pointer w-10"
              aria-hidden="false"
              aria-label="Example edit_note icon"
              fontIcon="edit_note"
            ></mat-icon>
            <mat-icon
              (click)="onDeleteAdmin(admin.id, i)"
              class="cursor-pointer text-red-500"
              aria-hidden="false"
              aria-label="Example delete icon"
              fontIcon="delete"
            ></mat-icon>
          </td>
        </tr>
        }
      </table>
    </div>
  </div>
</div>
