<div class="flex items-center justify-center bg-gray-100 h-full">
  <h1
    class="font-medium text-cream bg-dark-purple cursor-pointer py-2 pl-3 text-xl absolute top-0 w-full md:text-2xl lg:text-3xl"
  >
    HOUSE OF DRYFRUITS
  </h1>
  <div
    class="flex flex-col rounded items-center gap-6 w-3/4 h-3/4 py-4 shadow-xl bg-white md:gap-8 md:py-6 md:w-1/3 md:h-3/4"
  >
    <h1 class="text-2xl font-semibold text-dark-purple md:text-3xl lg:text-4xl">
      Admin Login
    </h1>

    <form (submit)="onLogin(form)" #form="ngForm" class="flex flex-col gap-5">
      <div class="flex flex-col items-start">
        <p class="text-light-purple font-medium">Username</p>
        <input
          ngModel
          #userName="ngModel"
          required
          [ngClass]="{
            borderBlink: userName.touched && userName.invalid
          }"
          pattern="^[a-z]+$"
          name="userName"
          class="px-2 py-1 border-2 rounded"
        />
        @if(userName.touched && userName.invalid) {
        <ul class="">
          <li
            class="text-gray-500 text-wrap w-full leading-1 font-bold text-xs"
          >
            UserName should not contain small
          </li>
          <li
            class="text-gray-500 w-full text-wrap leading-1 font-bold text-xs"
          >
            letters, special characters, spaces and
          </li>
          <li
            class="text-gray-500 w-full text-wrap leading-1 font-bold text-xs"
          >
            be min 5 characters
          </li>
        </ul>

        }
      </div>
      <div class="flex flex-col items-start">
        <p class="text-light-purple font-medium">Password</p>
        <input
          ngModel
          #password="ngModel"
          [ngClass]="{
            borderBlink: password.touched && password.invalid
          }"
          required
          name="password"
          class="px-2 py-1 border-2 rounded"
          type="password"
          pattern="^\S{7,}$"
        />
        @if(password.touched && password.invalid) {
        <ul class="">
          <li
            class="text-gray-500 text-wrap w-full leading-1 font-bold text-xs"
          >
            Password should not contain spaces
          </li>
          <li
            class="text-gray-500 w-full text-wrap leading-1 font-bold text-xs"
          >
            and be min 7 characters
          </li>
        </ul>

        }
      </div>

      <div class="flex items-center gap-2 justify-between">
        <button
          [ngClass]="form.invalid ? 'invalid-save' : 'valid-save'"
          type="submit"
          [disabled]="form.invalid"
          class="px-3 py-1 w-full font-medium text-light rounded-md bg-gradient-to-r bg-green-500 hover:from-green-500 hover:to-green-900 transition-all duration-500"
        >
          Submit
        </button>
        @if(loading) {
        <app-load-spinner></app-load-spinner>

        }
      </div>
    </form>
  </div>
</div>
