<div
  class="flex flex-col gap-5 bg-light rounded-md h-full w-full px-3 py-3 overflow-scroll overflow-x-hidden overflow-y-auto lg:h-full lg:w-full lg:px-3 lg:py-3"
>
  <h1 class="text-2xl text-dark-purple font-bold lg:text-3xl">Settings</h1>

  <form
    (ngSubmit)="onSubmitSetting()"
    [formGroup]="settingForm"
    class="flex flex-col gap-4"
  >
    <div class="flex flex-col gap-1">
      <label
        class="text-base font-medium text-light-purple"
        for="featuredProduct"
        >Featured product</label
      >
      <select
        [ngClass]="{
          borderBlink:
            settingForm.controls['featuredProduct'].invalid &&
            settingForm.controls['featuredProduct'].touched
        }"
        formControlName="featuredProduct"
        class="text-light-purple text-sm w-44 h-9 px-2 py-1 rounded font-medium border-2 border-gray-300 lg:text-base lg:w-56"
      >
        <option
          class="text-sm text-light-purple font-bold lg:text-base"
          value="null"
        >
          No product selected
        </option>
        @for(product of products; track product.id; let i = $index) {

        <option
          class="text-sm text-light-purple font-bold lg:text-base"
          [value]="product.id"
        >
          {{ product.productName }}
        </option>
        }
      </select>
    </div>
    <div class="flex flex-col gap-1">
      <label
        class="text-sm font-medium text-light-purple lg:text-base"
        for="shippingFee"
        >Shipping fee</label
      >
      <input
        id="shippingFee"
        formControlName="shippingFee"
        [ngClass]="{
          borderBlink:
            settingForm.controls['shippingFee'].invalid &&
            settingForm.controls['shippingFee'].touched
        }"
        placeholder="Shipping Fee"
        class="text-light-purple text-sm px-2 py-1 rounded w-44 font-medium border-2 border-gray-300 lg:text-base lg:w-56"
        type="number"
      />
    </div>
    <div class="flex gap-4 items-center">
      <button
        [disabled]="settingForm.invalid"
        [ngClass]="settingForm.invalid ? 'invalid-save' : 'valid-save'"
        type="submit"
        class="font-medium w-fit text-white px-2 py-1 rounded-md bg-green-500 bg-gradient-to-r hover:from-green-500 hover:to-green-900 lg:px-3 lg:py-2"
      >
        Save Settings
      </button>

      @if(loading) {
      <app-load-spinner></app-load-spinner>

      }
    </div>
  </form>
</div>
