<div
  class="flex flex-col gap-5 bg-light rounded-md h-full w-full px-3 py-3 overflow-scroll overflow-x-hidden overflow-y-auto"
>
  @if(mode === 'no-edit') {
  <h1 class="text-2xl text-dark-purple font-bold lg:text-3xl">Categories</h1>

  <form
    class="flex flex-col gap-5"
    [formGroup]="categoryForm"
    (ngSubmit)="onSubmitCategory()"
  >
    <div class="flex flex-col gap-3">
      <p class="font-medium text-dark-purple text-xl">Create new category</p>
      <div class="flex gap-3">
        <input
          id="categoryName"
          formControlName="categoryName"
          [ngClass]="{
            borderBlink:
              categoryForm.controls['categoryName'].invalid &&
              categoryForm.controls['categoryName'].touched
          }"
          placeholder="Category name"
          class="text-light-purple text-sm px-2 py-1 rounded w-56 font-medium border-2 border-gray-300 lg:text-base"
          type="text"
        />
        <select
          formControlName="parent"
          class="text-light-purple text-sm w-max h-9 px-2 py-1 rounded font-medium border-2 border-gray-300 lg:text-base"
        >
          <option
            class="text-dark-purple font-bold text-sm: lg:text-base"
            value="null"
          >
            No parent category
          </option>
          @for(category of categories; track category.id; let i = $index) {

          <option
            class="text-dark-purple font-bold text-sm: lg:text-base"
            [value]="category.id"
          >
            {{ category.categoryName }}
          </option>
          }
        </select>
      </div>
    </div>

    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-1">
        <label class="text-light-purple text-sm font-medium lg:text-base"
          >Properties</label
        >
        <button
          type="button"
          (click)="onAddProperty()"
          class="text-white text-sm font-medium rounded-md px-2 py-1 border-gray-300 w-fit bg-light-purple hover:bg-dark-purple lg:px-3 lg:py-2 lg:text-base"
        >
          Add new property
        </button>
      </div>

      <div formArrayName="properties">
        @for(propertyControl of propertyControls.controls; track
        propertyControls; let i = $index) {
        <div [formGroupName]="i">
          <div class="flex gap-2 my-2">
            <input
              formControlName="property"
              placeholder="Property"
              class="font-medium px-1 py-1 rounded border-2 border-gray-300 lg:px-2 lg:py-1"
              type="text"
            />
            <input
              placeholder="Values"
              formControlName="values"
              class="font-medium px-1 py-1 rounded border-2 border-gray-300 lg:px-2 lg:py-1"
              type="text"
            />
            <div class="flex items-center">
              <mat-icon
                (click)="onDeletePropertyControl(i)"
                class="cursor-pointer text-red-500"
                aria-hidden="false"
                aria-label="Example delete icon"
                fontIcon="delete"
              ></mat-icon>
            </div>
          </div>
        </div>
        }
      </div>
    </div>

    <div class="flex gap-3 b-4">
      <button
        (click)="onCancel()"
        type="button"
        class="text-white text-sm font-medium px-2 py-1 rounded-md w-fit bg-red-500 bg-gradient-to-r hover:from-red-500 hover:to-red-900 lg:px-3 lg:py-2 lg:text-base"
      >
        cancel
      </button>
      <button
        [disabled]="categoryForm.invalid"
        [ngClass]="categoryForm.invalid ? 'invalid-save' : 'valid-save'"
        type="submit"
        class="text-white text-sm font-medium w-fit px-2 py-1 rounded-md bg-green-500 bg-gradient-to-r hover:from-green-500 hover:to-green-900 lg:text-base lg:px-2 lg:py-1"
      >
        Save
      </button>
    </div>
  </form>

  @if(loading) {
  <div class="flex bg-transparent items-center gap-2 justify-between">
    <app-pulse-load-spinner></app-pulse-load-spinner>
  </div>
  }@else {
  <div class="flex flex-col shadow-lg w-4/5">
    <div class="flex bg-blue-300">
      <div class="px-2 py-2 w-2/5">
        <p class="text-sm text-dark-purple font-bold lg:text-base">
          CATEGORY NAME
        </p>
      </div>
      <div class="px-2 py-2 w-3/5">
        <p class="text-sm text-dark-purple pl-5 font-bold lg:text-base">
          PARENT CATEGORY
        </p>
      </div>
    </div>

    @for(category of categories; track category.id; let i = $index) {
    <div class="flex px-3 py-2 items-center justify-between">
      <p class="text-sm text-light-purple font-medium lg:text-base">
        {{ category.categoryName }}
      </p>
      <p class="text-sm text-light-purple font-medium lg:text-base">
        {{
          category.parent ? category.parent.categoryName : "No parent Category"
        }}
      </p>

      <div class="flex gap-3">
        <mat-icon
          (click)="onEditCategory(category, i)"
          class="cursor-pointer"
          aria-hidden="false"
          aria-label="Example edit_note icon"
          fontIcon="edit_note"
        ></mat-icon>
        <mat-icon
          (click)="onDeleteCategory(i, category.id!)"
          class="cursor-pointer text-red-500"
          aria-hidden="false"
          aria-label="Example delete icon"
          fontIcon="delete"
        ></mat-icon>
      </div>
    </div>
    }
  </div>
  } } @if(mode === 'edit') {
  <router-outlet></router-outlet>

  }
</div>
