<div
  class="flex flex-col bg-light px-5 py-7 h-full w-full rounded-md overflow-scroll overflow-x-hidden overflow-y-auto"
>
  @if(!editAddMode) {
  <button
    routerLink="edit-product"
    (click)="onAddProduct()"
    class="font-medium text-white px-3 py-2 rounded-md mb-3 w-fit bg-gradient-to-r bg-green-500 text-base hover:from-green-500 hover:to-green-900"
  >
    Add new product
  </button>
  } @if(!editAddMode) {

  <div class="flex flex-col shadow-lg w-4/5">
    <div class="text-base bg-blue-300 px-2 py-2">
      <h1 class="text-base font-bold text-dark-purple">Products</h1>
    </div>
    @for(product of products; track product.id; let i = $index) {
    <div class="flex px-3 py-2 items-center justify-between">
      <p class="text-light-purple text-base font-medium">
        {{ product.productName }}
      </p>
      <div class="flex gap-3 items-center">
        <div class="flex items-center">
          <mat-icon
            (click)="onEditProduct(product, i)"
            class="cursor-pointer w-10"
            aria-hidden="false"
            aria-label="Example edit_note icon"
            fontIcon="edit_note"
          ></mat-icon>
        </div>
        <div class="flex items-center">
          <mat-icon
            (click)="onDeleteProduct(product.id, i)"
            class="cursor-pointer text-red-500"
            aria-hidden="false"
            aria-label="Example delete icon"
            fontIcon="delete"
          ></mat-icon>
        </div>
      </div>
    </div>
    }
  </div>
  }

  <router-outlet></router-outlet>
</div>
